@import url('https://fonts.googleapis.com/css2?family=Chewy&family=Notable&display=swap');

:root{
    --color:#380053;
    --btn-color:#635E7F;
    --pink-shadow:#FDABFF;
}

body{
    font-family: 'Notable', sans-serif;
    background-color: var(--color);
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hidden{
    display: none;
}
.input-style{
    margin-left: 1rem;
    padding: .8rem;
    width: 30%;
    background-color: var(--btn-color);
    border:1px solid transparent;
    border-radius: 8px;
    color: white;
}
.input-style:hover{
    background-color: #393550;
}
.btn-style{
    padding: .5rem;
    width: 30%;
    font-family: 'Notable';
    background-color: var(--color);
    transition: 0.4s ease-in-out;
    color: var(--pink-shadow);
    box-shadow: 10px -8px 1px 0px var(--pink-shadow);
}
.btn-style:hover{
    transform: scale(1.06);
}
header{
    padding: 5rem;
}
.main-section{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
    color: var(--color);
    width: 70%;
    height: 13rem;
    font-size: 1.4rem;
    border-radius: 13px;
}
.prev-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: large;
}

#prevGuess{
    margin:0 1rem;
    padding: .5rem;
    background-color: var(--btn-color);
    border:1px solid transparent;
    border-radius: 8px;
    color: white;
}
 #gameResult{
    color: var(--color);
}

@media screen and (min-width:1024px){
    .main-section{
        width: 40%;
    }
}

